@font-face {
    font-family: 'Red Hat';
    src: url('./font/RedHatText-VariableFont_wght.ttf') format('truetype');
  }
.titulo, .dias__titulo, .horas__titulo, .minutos__titulo, .segundos__titulo {
    font-family: RedHatText-VariableFont_wght;
    text-transform: uppercase;
}

.titulo{
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
}
.dias__titulo, .horas__titulo, .minutos__titulo, .segundos__titulo {
    color: #8486a9;
    padding: 0 1rem;
    font-size: 1rem;
}
.conteudo{
    background-image: url('./img/bg-stars.svg');
    background-color: #191a24;
    padding-top: 8%;
    padding-bottom: 8%;
    /* height:500px;
    width: 100%; */
}

.conteudo__principal{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.dias__contador, .horas__contador, .minutos__contador, .segundos__contador {
    padding: 0 5%;
    color: #fb6087;
    font-size: 2.8rem; 
    background: linear-gradient(to bottom,#2C2C44 50%,#34364F 50%);
    box-shadow: 0px 5px 10px 0px #000000;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

footer{
    background-color: #191a24;
}
.img__montanhas{
    width: 100%;
}
.social__media{
    padding: 0 2%;
    position: absolute;
    top: 85%;
    left: 580px;  
}
.face-icon path:hover, .pint-icon path:hover, .insta-icon path:hover{
    fill: #fb6087;
}
/*Design Mobile*/
@media screen and (max-width: 440px ) {

    .conteudo{
        width: auto;
        height:100vh;
    }
    .conteudo__principal{
        position: absolute;
        top: 112px;
        left: 22.828px;
    }
    .titulo{
        font-size: 1.5rem;
        position: absolute;
        top: 112px;
        left: 52.3125px;
    }
    .social__media{
        position: absolute;
        top: 580px;
        left: 150px;  
    }
    .img__montanhas{
        position: absolute;
        left: 0px;
        top: 796px;
        height: 100px;
    }

    
}
